USE [LOLMainDB]
GO
/****** Object:  Table [dbo].[World]    Script Date: 1/6/2015 5:15:00 PM ******/
DROP TABLE [dbo].[World]
GO
/****** Object:  Table [dbo].[Command]    Script Date: 1/6/2015 5:15:00 PM ******/
DROP TABLE [dbo].[Command]
GO
/****** Object:  Table [dbo].[CashLog]    Script Date: 1/6/2015 5:15:00 PM ******/
DROP TABLE [dbo].[CashLog]
GO
/****** Object:  Table [dbo].[Auth]    Script Date: 1/6/2015 5:15:00 PM ******/
DROP TABLE [dbo].[Auth]
GO
/****** Object:  Table [dbo].[Asset]    Script Date: 1/6/2015 5:15:00 PM ******/
DROP TABLE [dbo].[Asset]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 1/6/2015 5:15:00 PM ******/
DROP TABLE [dbo].[Account]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 1/6/2015 5:15:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](32) NOT NULL,
	[Password] [varchar](64) NOT NULL,
	[Email] [nvarchar](128) NOT NULL,
	[NickName] [nvarchar](32) NULL,
	[FullName] [nvarchar](64) NULL,
	[Address1] [ntext] NULL,
	[Address2] [ntext] NULL,
	[HomePhone] [varchar](32) NULL,
	[WorkPhone] [varchar](32) NULL,
	[MobilePhone] [varchar](32) NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Asset]    Script Date: 1/6/2015 5:15:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Asset](
	[AssetId] [int] IDENTITY(1,1) NOT NULL,
	[AssetName] [nvarchar](32) NOT NULL,
	[DownloadUrl] [varchar](128) NOT NULL,
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_Asset] PRIMARY KEY CLUSTERED 
(
	[AssetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Auth]    Script Date: 1/6/2015 5:15:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auth](
	[AuthId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[WorldId] [int] NOT NULL,
	[ActCode] [int] NOT NULL,
 CONSTRAINT [PK_Auth] PRIMARY KEY CLUSTERED 
(
	[AuthId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CashLog]    Script Date: 1/6/2015 5:15:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CashLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[LogTime] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[WorldId] [int] NOT NULL,
	[VenderId] [varchar](8) NOT NULL,
	[CardSeri] [varchar](32) NOT NULL,
	[CardCode] [varchar](32) NOT NULL,
	[CardAmount] [int] NOT NULL,
	[RetCode] [int] NOT NULL,
 CONSTRAINT [PK_CashLog] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Command]    Script Date: 1/6/2015 5:15:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Command](
	[CmdId] [int] IDENTITY(1,1) NOT NULL,
	[MasterId] [int] NOT NULL,
	[WorldId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [varchar](32) NOT NULL,
	[CmdCode] [int] NOT NULL,
	[CmdParams] [varchar](64) NULL,
	[SetTime] [datetime] NULL,
	[GetTime] [datetime] NULL,
 CONSTRAINT [PK_Command] PRIMARY KEY CLUSTERED 
(
	[CmdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[World]    Script Date: 1/6/2015 5:15:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[World](
	[WorldId] [int] NOT NULL,
	[WorldName] [nvarchar](32) NOT NULL,
	[ServiceAddress] [varchar](128) NOT NULL,
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_World] PRIMARY KEY CLUSTERED 
(
	[WorldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([UserId], [UserName], [Password], [Email], [NickName], [FullName], [Address1], [Address2], [HomePhone], [WorkPhone], [MobilePhone], [CreateTime]) VALUES (1, N'ngocnl', N'E99A18C428CB38D5F260853678922E03', N'ngocnl@123.com', N'ngocnl', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A40900E78034 AS DateTime))
INSERT [dbo].[Account] ([UserId], [UserName], [Password], [Email], [NickName], [FullName], [Address1], [Address2], [HomePhone], [WorkPhone], [MobilePhone], [CreateTime]) VALUES (2, N'kimngo', N'E99A18C428CB38D5F260853678922E03', N'kimngo@123.com', N'kimngo', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A40900E898F9 AS DateTime))
INSERT [dbo].[Account] ([UserId], [UserName], [Password], [Email], [NickName], [FullName], [Address1], [Address2], [HomePhone], [WorkPhone], [MobilePhone], [CreateTime]) VALUES (3, N'123', N'202CB962AC59075B964B07152D234B70', N'123@123.com', N'123', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A40A00C2869A AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[CashLog] ON 

INSERT [dbo].[CashLog] ([LogId], [LogTime], [UserId], [WorldId], [VenderId], [CardSeri], [CardCode], [CardAmount], [RetCode]) VALUES (1, CAST(0x0000A40D00F588BA AS DateTime), 1, 1, N'1PAY', N'123456', N'123456', 0, -1)
INSERT [dbo].[CashLog] ([LogId], [LogTime], [UserId], [WorldId], [VenderId], [CardSeri], [CardCode], [CardAmount], [RetCode]) VALUES (2, CAST(0x0000A40D00F61ADC AS DateTime), 1, 1, N'1PAY', N'123456', N'123456', 0, -1)
INSERT [dbo].[CashLog] ([LogId], [LogTime], [UserId], [WorldId], [VenderId], [CardSeri], [CardCode], [CardAmount], [RetCode]) VALUES (3, CAST(0x0000A40D00F6A360 AS DateTime), 1, 1, N'1PAY', N'123456', N'123456', 0, -1)
SET IDENTITY_INSERT [dbo].[CashLog] OFF
INSERT [dbo].[World] ([WorldId], [WorldName], [ServiceAddress], [Version]) VALUES (1, N'Server Local', N'local.blueskysoft.vn:4530', 1)
INSERT [dbo].[World] ([WorldId], [WorldName], [ServiceAddress], [Version]) VALUES (2, N'Server Home', N'home.blueskysoft.vn:4530', 1)
INSERT [dbo].[World] ([WorldId], [WorldName], [ServiceAddress], [Version]) VALUES (3, N'Ngoc VAIO', N'ngocvaio:4530', 1)
