# =============== #
# Unity generated #
# =============== #
/HeroOnline/[Tt]emp/
/HeroOnline/[Oo]bj/
/HeroOnline/[Bb]uild/
/[Ll]ibrary/
sysinfo.txt
/[B]uilds/
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
HeroOnline.vs/
HeroOnline/*.userprefs
HeroOnline/*.csproj
HeroOnline/*.pidb
HeroOnline/*.suoHeroOnline
HeroOnline/*.sln
HeroOnline/*.user
HeroOnline/*.unityproj
HeroOnline/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
*.log
PhotonSDK/deploy/HeroOnline/Cache/
DEngine_Photon/_Obj/DEngine.HeroServer/TempPE/GameData.HeroDB.designer.cs.dll
DEngine_Photon/DEngine.Common/DEngine.Common.csproj.user
[Cc]ache
[Dd]ebug

*.userprefs
*.sln
*.csproj
Assets/StaticResources/lolModels.rar
/Builds
Models
HeroOnline/Library
/Temp