<?xml version="1.0" encoding="Windows-1252"?>

<Configuration>
  <!-- Multiple instances are supported. Each instance has its own node in the config file. -->
  <!-- PhotonControl will currently only start "Default" but the .cmd files could be modified to start other instances. -->

  <HeroOnline
    MaxMessageSize="512000"
    MaxQueuedDataPerPeer="512000"
    PerPeerMaxReliableDataInTransit="51200"
    PerPeerTransmitRateLimitKBSec="256"
    PerPeerTransmitRatePeriodMilliseconds="200"
    MinimumTimeout="5000"
    MaximumTimeout="30000"
    DisplayName="HeroOnline Servers">

    <!-- Defines the Photon Runtime Assembly to use. -->
    <Runtime
      Assembly="PhotonHostRuntime, Culture=neutral"
      Type="PhotonHostRuntime.PhotonDomainManager"
      UnhandledExceptionPolicy="Ignore">
    </Runtime>

    <!-- Policy request listener for Unity and Flash (port 843) and Silverlight (port 943)  -->
    <PolicyFileListeners>
      <!-- multiple Listeners allowed for different ports -->
      <PolicyFileListener
        IPAddress="0.0.0.0"
        Port="843"
        PolicyFile="Policy\assets\socket-policy.xml"
        InactivityTimeout="10000">
      </PolicyFileListener>
      <PolicyFileListener
        IPAddress="0.0.0.0"
        Port="943"
        PolicyFile="Policy\assets\socket-policy-silverlight.xml"
        InactivityTimeout="10000">
      </PolicyFileListener>
    </PolicyFileListeners>

    <!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
    <UDPListeners>
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5055"
        OverrideApplication="HeroWorld">
      </UDPListener>
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5056"
        OverrideApplication="HeroZone1">
      </UDPListener>
      <UDPListener
        IPAddress="0.0.0.0"
        Port="5057"
        OverrideApplication="HeroZone2">
      </UDPListener>
    </UDPListeners>

    <!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
    <TCPListeners>
      <TCPListener
        IPAddress="0.0.0.0"
        Port="4530"
        OverrideApplication="HeroWorld"
        DisableNagle="true"
        InactivityTimeout="0">
      </TCPListener>
      <TCPListener
        IPAddress="0.0.0.0"
        Port="4531"
        OverrideApplication="HeroZone1"
        DisableNagle="true"
        InactivityTimeout="0">
      </TCPListener>
      <TCPListener
        IPAddress="0.0.0.0"
        Port="4532"
        OverrideApplication="HeroZone2"
        DisableNagle="true"
        InactivityTimeout="0">
      </TCPListener>
      <!-- DON'T EDIT THIS. TCP listener for GameServers on Master application -->
      <TCPListener
        IPAddress="0.0.0.0"
        Port="4520">
      </TCPListener>
    </TCPListeners>

    <!-- Defines which applications are loaded on start and which of them is used by default. Make sure the default application is defined. -->
    <Applications Default="HeroWorld">
      <Application
        Name="HeroWorld"
        BaseDirectory="HeroOnline"
        Assembly="DEngine.HeroServer"
        Type="DEngine.HeroServer.WorldService"
        EnableAutoRestart="true"
        WatchFiles="dll;config"
        ExcludeFiles="log4net.config">
      </Application>
      <Application
        Name="HeroZone1"
        BaseDirectory="HeroOnline"
        Assembly="DEngine.HeroServer"
        Type="DEngine.HeroServer.ZoneService"
        EnableAutoRestart="true"
        WatchFiles="dll;config"
        ExcludeFiles="log4net.config">
      </Application>
      <Application
        Name="HeroZone2"
        BaseDirectory="HeroOnline"
        Assembly="DEngine.HeroServer"
        Type="DEngine.HeroServer.ZoneService"
        EnableAutoRestart="true"
        WatchFiles="dll;config"
        ExcludeFiles="log4net.config">
      </Application>
    </Applications>
  </HeroOnline>
</Configuration>
